@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <a href="/Home/StudentEditView">Student Edit Form using Custom Model Binder</a>
        </div>
    </div>
</div>
