
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h4>List Of Students</h4>
<ul>
    <li>Adam Oak</li>
    <li>Phil Collins</li>
    <li>Mary Thatcher</li>
    <li>Pat Single</li>
</ul>